{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h3>Dashboard</h3>
<p>Welcome, {{ email }}!</p>

<hr>
<h5 id="plans">Investment Plans</h5>
<ul class="list-group">
  <li class="list-group-item">Starter Plan - $100 Minimum</li>
  <li class="list-group-item">Pro Plan - $500 Minimum</li>
  <li class="list-group-item">Elite Plan - $1000 Minimum</li>
</ul>

<hr>
<h5 id="wallet">Your Wallet</h5>
<p><strong>Wallet:</strong> Linked and secured</p>
<a href="{{ url_for('kyc') }}" class="btn btn-warning">Complete KYC</a>
{% endblock %}
